.class-animacion-1{
    animation: animate-animacion-1 0.8s steps(8) infinite;
}

@keyframes animate-animacion-1 {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 3021px;
    }
}