.class-animacion-1{
    animation: animate-animacion-1 0.8s steps(8) infinite reverse;
}

@keyframes animate-animacion-1 {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 932px;
    }
} 

.class-animacion-2{
    animation: animate-animacion-2 0.8s steps(8) infinite reverse;
}

@keyframes animate-animacion-2 {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 918px;
    }
}


.class-animacion-4{
    animation: animate-animacion-4 0.8s steps(8) infinite ;
}

@keyframes animate-animacion-4 {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 932px;
    }
} 

.class-animacion-5{
    animation: animate-animacion-5 0.9s steps(10) reverse infinite;
    animation-fill-mode: backwards;
}

@keyframes animate-animacion-5 {
    0%{
        background-position: 284.27px;
    }
    100%{
        background-position: 3127px;
    }
} 

.class-animacion-7{
    animation: animate-animacion-7 0.4s steps(5) reverse infinite;
    animation-fill-mode: backwards;
}

@keyframes animate-animacion-7 {
    0%{
        background-position: 285.3px;
    }
    100%{
        background-position: 1712px;
    }
}

