body {
    animation: animate-body 10s;
    animation-timing-function: linear;
}
@keyframes animate-body {
    0% {
        background: linear-gradient(to bottom, #cbbcff 0%, #EEE9FF 1000%);
    }
    50% {
        background: linear-gradient(to bottom, #cbbcff 25%, #EEE9FF 500%);
    }
    100% {
        background: linear-gradient(to bottom, #cbbcff 50%, #EEE9FF 100%);
    }
}
.class-home > div:first-child{
    animation: animate-home-firstDiv 4s;
    animation-timing-function: ease-out;
}

@keyframes animate-home-firstDiv {
    0%{
        top: 49vh;
        bottom: 50vh;
        left: 99vw;
    }
    50%{
        top: 49vh;
        bottom: 50vh;
        left: 0vw;
    }
    100%{
        top: 0vh;
        bottom: 50vh;
        left: 0vw;
    }
} 

.class-base{
    animation: animate-animation-3-display 5.5s;
    position: absolute;
    animation-timing-function: linear;
    left: 42vw;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes animate-animation-3-display{
    from{
        right: -100vw;
        opacity: 1;
    }
    to{
        right: 0vw;
        opacity: 1;
        visibility: hidden;
    }
}

.class-animacion-3{
    animation: animate-animacion-3 0.8s steps(8) reverse infinite;
}

@keyframes animate-animacion-3 {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 918px;
    }
}

.class-person-up{
    animation: animate-class-person-up 0.9s steps(10) reverse;
    animation-fill-mode: backwards;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
}

@keyframes animate-class-person-up{
    0%{
        background-position: 284.27px;
        visibility: inherit;
        opacity: 1;
    }
    100%{
        background-position: 3127px;
        visibility: inherit;
        opacity: 1;
    }
}

// .class-menu {
//     animation: animate-class-menu 2s;
// }
// @keyframes animate-class-menu {
//     0% {
//         position: relative;
//         top: -100vh;
//     }
//     100% {
//         position: relative;
//         top: 0vh;
//     }
// }