
/*Web Resolución Grande*/
@media only screen and (max-width:1920px) and (max-height:1080px){
    .class-menu ul li a,
    .class-Footer ul li a {
        font-size: 20pt !important;
    }
    p {
        font-size: 18pt !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 {
        line-height: 0;
        font-size: 25pt !important;
    }
    .class-portfolio > div:nth-child(2) {
        grid-template-rows: 135px auto !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        bottom: 435px !important;
        left: 6.3vw !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        top: 195px !important;
        left: calc(50% - 90px) !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 380px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font {
        font-size: 50pt !important;
    }
}
/*Escritorio Medio - Landscape*/
@media only screen and (max-width:1440px) and (max-height:900px){
    .class-aboutUs > div:nth-child(3) > div:first-child {
        bottom: 330px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        top: 144px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 320px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font {
        font-size: 38pt !important;
    }
    p {
        font-size: 15pt !important;
    }
}
/*ordenador portátil medio - Landscape*/
@media only screen and (max-width:1366px) and (max-height:768px){
    .class-menu ul li a, .class-Footer ul li a {
        font-size: 15pt !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 {
        line-height: 0;
        font-size: 20pt !important;
    }
    .class-portfolio > div:nth-child(2) {
        grid-template-rows: 70px auto !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        bottom: 223px !important;
        left: 5.3vw !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        top: 38px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 210px !important;
    }
    p {
        font-size: 12pt !important;
    }
}
/*Tablet*/
@media only screen and (max-width: 1024px), /*iPad Pro*/ (max-width: 1024px) and (max-height: 1366px){
    .class-animacion-0 {
        background: $BIG_image_animation_0;
        -webkit-box-reflect: below -38px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        height: calc(100vh - (52.55px + 10vh));
        width: 487px;
        background-size: cover;
    }
    body {
        background: linear-gradient(to bottom, #f29304 80%, #fbca01 100%) !important;
    }
    .class-home{
        grid-template-columns: calc(100vw - 16vw) !important;
        grid-template-rows: 35% 55% !important;
    }
    .class-menu ul li a, .class-Footer ul li a {
        font-size: 20pt;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) {
        height: auto !important
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(3) {
        top: 0;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(2) {
        top: 0 !important;
        //width: 81.2% !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:first-child {
        top: 0 !important;
        //width: 89% !important;
    }
    .class-portfolio > div:nth-child(2) {
        grid-template-rows: 70px calc(100% - 70px) !important;
        height: 100% !important;
    }
    .class-aboutUs > div:first-child {
        top: 70vh !important; 
    }
    .class-portfolio, .class-contact {
        grid-template-columns: calc(100vw - 16vw) !important;
        grid-template-rows: 35% 55% !important;
    }
    .class-home > div:first-child, 
    .class-portfolio > div:first-child, 
    .class-contact > div:first-child {
        bottom: 30vh !important;
    }
    .class-home > div:nth-child(2) h1 {
        -webkit-box-reflect: below 380px linear-gradient(to top, #0000, #0000) !important;
    }
    .class-aboutUs > div:nth-child(2) {
        left: 0 !important;
        right: 0 !important;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px) !important;
        width: 100vw !important;
    }
    .class-aboutUs > div:nth-child(2) > div:last-child {
        grid-template-columns: auto !important;
        grid-template-rows: max-content !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        left: 50px !important;
        width: 380px !important;
        height: 380px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 450px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 18pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font {
        font-size: 70pt !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: 5vh !important;
        left: -12vw !important;
    }
    .class-MyPortfolioEvolution > div > h2 {
        grid-column: 1 !important;
    }
    .class-MyPortfolioEvolution > div > div:nth-child(3n+0){
        grid-row: 2;
    }
    .class-GalleryScroll {
        width: calc(100% + 8vw) !important;
    }
    .class-GreenCard > div:nth-child(3), 
    .class-Unicef > div:nth-child(3) {
        display: grid;
        grid-template-columns: calc(80% - 10px) calc(20% - 10px) !important;
    }
    .class-GreenCard > div:nth-child(3) > div:first-child, 
    .class-Unicef > div:nth-child(3) > div:first-child{
        display: grid;
        grid-template-rows: 33% 33% 33%;
        grid-gap: 20px;
    }
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2) {
        bottom: 200px !important;
    }
    .class-person-up, 
    .class-aperson-sit {
        bottom: 200px !important;
    }
}
/*Smartphone*/
@media only screen and (max-width: 801px){
    ul.class-menuSmartphone {
        background: linear-gradient(to top, #f29304a3 10%, #f2b705 90%) !important;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 9vh;
        height: 90vh;
        z-index: 999;
    }
    .class-menu ul {
        display: flex;
        justify-content: flex-start !important;
        padding: 1vh 8vw !important;
        width: 84vw !important;
        flex-direction: column !important;
        height: 100vh !important;
        align-items: baseline !important;
    }
    .class-menu ul li:first-child{
        display: block !important;
    }
    .class-aboutUs > div:first-child {
        background: #f2b705 !important;
        top: 0 !important;
        bottom: 50vh !important;
    }
    .class-home > div:first-child, 
    .class-portfolio > div:first-child, 
    .class-contact > div:first-child {
        bottom: 15vh !important;
    }
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2) {
        bottom: -135px !important;
    }
    .class-home > div:nth-child(2) h1 {
        font-size: 40pt !important;
    }
    .class-home > div:nth-child(2) strong ,
    .class-home > div:nth-child(2) strong font{
        font-size: 50pt !important;
        display: block;
        margin-top: 40px;
    }
}
/*Movil Grande - Portátil*/
@media only screen and (max-width:720px) and (max-height:1280px){
    .class-person-up, 
    .class-aperson-sit {
        bottom: -135px !important;
    }
    .class-aboutUs > div:nth-child(2) {
        left: 0 !important;
        right: 0 !important;
        grid-template-columns: 100% !important;
        width: 100vw !important;
        overflow-y: auto;
        height: calc(100vh - (52.55px + 5vh)) !important;
        grid-template-rows: calc(100vh - (52.55px + 38vh)) calc(100vh - (52.55px + 5vh)) !important;
        grid-gap: 0 !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        left: calc(50% - 190px) !important;
        width: 380px !important;
        height: 380px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 436px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 50pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child,
    .class-aboutUs > div:nth-child(2) > div:nth-child(2) {
        border: none !important;
        padding: 0 8vh !important;
    }
    .class-aboutUs > div:nth-child(2) > div:last-child {
        height: fit-content !important;
        overflow-y: unset !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 15pt !important;
    }
    .class-animacion-0 {
        width: 93vw !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: 5vh !important;
        left: -2vw !important;
    }
    .class-aboutUs > div:nth-child(3) > img:nth-child(3),
    .class-aboutUs > div:nth-child(3) > img:nth-child(2) {
        z-index: -3 !important;
    }
}
/*Smartphone*/
@media only screen and (max-width: 360px), /*Samsung Galaxy S10*/ (max-width: 360px) and (max-height: 760px) {
    .class-GreenCard > div:nth-child(3) img:nth-child(2),
    .class-GreenCard > div:nth-child(3) img:nth-child(3), 
    .class-Unicef > div:nth-child(3) img:nth-child(2),
    .class-Unicef > div:nth-child(3) img:nth-child(3) {
        display: none;
    }
    .class-GreenCard > div:nth-child(3) > div:nth-child(2), 
    .class-Unicef > div:nth-child(3) > div:nth-child(2) {
        grid-row: 1;
    }
    .class-nextPage {
        height: 230px !important;
        grid-template-columns: calc(100% - 16vw) !important;
    }
    .class-nextPage > div:nth-child(4) {
        opacity: 0.5;
    }
    .class-nextPage > div:nth-child(2) {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .class-nextPage button{
        width: 100% !important;
    }
    .class-home > div:first-child, 
    .class-portfolio > div:first-child, 
    .class-contact > div:first-child {
        bottom: 15vh !important;
    }
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2),
    .class-person-up, 
    .class-aperson-sit {
        bottom: -100px !important;
    }
    .class-home > div:nth-child(2) h1 {
        font-size: 40pt !important;
    }
    .class-home > div:nth-child(2) strong ,
    .class-home > div:nth-child(2) strong font{
        font-size: 50pt !important;
        display: block;
        margin-top: 40px;
    }
    .class-portfolio > div:nth-child(2) {
        width: 100%;
        display: grid;
        grid-template-columns: 100% !important;
        grid-gap: 20px;
        grid-template-rows: 92px 45px auto !important;
        z-index: 9;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(2){
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) {
        height: auto !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img {
        width: 100% !important;
        position: relative !important;
        box-shadow: 2px 2px 20px 2px #2703a621;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(2) {
        left: 0 !important;
        top: -86px !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(3) {
        top: -186px !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child {
        display: grid;
        grid-area: auto !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p span {
        display: none;
    }
    .class-PortfolioDetails {
        display: block !important;
        width: calc(100% - 16vw);
        padding: 20px 8vw !important;
    }
    .class-GalleryScroll {
        width: calc(100% + 60px) !important;
        left: -30px !important;
        position: relative;
    }
    .class-MyPortfolioEvolution > div {
        grid-template-columns: 100% !important;
        width: 100% !important;
    }
    .class-MyPortfolioEvolution > div > div:nth-child(3n+0) {
        grid-row: 2 !important;
    }
    .class-Footer ul li a {
        font-size: 12pt !important;
    }
    .class-GalleryScroll {
        margin-bottom: 20px !important;
    }
    .class-GreenCard > div:nth-child(3), 
    .class-Unicef > div:nth-child(3) {
        display: grid;
        grid-template-columns: 100% !important;
    }
    .class-Footer {
        width: 100% !important;
    }
    .class-fixed-img-minime {
        position: fixed;
        right: -7px !important;
        bottom: -21px !important;
        width: 100px !important;
        height: 100px !important;
        z-index: 999;
    }
    .class-aboutUs > div:nth-child(2) {
        left: 0 !important;
        right: 0 !important;
        grid-template-columns: 100% !important;
        width: 100vw !important;
        overflow-y: auto;
        height: calc(100vh - (52.55px + 5vh)) !important;
        grid-template-rows: calc(100vh - (52.55px + 5vh))calc(100vh - (52.55px + 5vh)) !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        left: calc(50% - 140px) !important;
        width: 200px !important;
        height: 200px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 240px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 50pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child,
    .class-aboutUs > div:nth-child(2) > div:nth-child(2) {
        border: none !important;
    }
    .class-aboutUs > div:nth-child(2) > div:last-child {
        height: fit-content !important;
        overflow-y: unset !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 15pt !important;
    }
    .class-animacion-0 {
        width: 93vw !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: 5vh !important;
        left: -2vw !important;
    }
    .class-aboutUs > div:nth-child(3) > img:nth-child(3),
    .class-aboutUs > div:nth-child(3) > img:nth-child(2) {
        z-index: -3 !important;
    }
    .class-contact > div:nth-child(2) > input:nth-child(4),
    .class-contact > div:nth-child(2) > h2, 
    .class-contact > div:nth-child(2) > textarea, 
    .class-contact > div:nth-child(2) > input:nth-child(5) {
        grid-column: 1 !important;
    }
    .class-contact > div:nth-child(2) {
        grid-template-rows: 20px 30px 55px 55px 55px 150px !important;
    }
    .class-Footer > div:first-child > strong ,
    .class-Footer > div:first-child > strong font{
        font-size: 30pt !important;
    }
}
/*HTC - ONE X - Landscape*/
@media only screen and (max-width:634px) and (max-height:349px){
    .class-home > div:nth-child(2) h1 {
        font-size: 25pt !important;
    }
    .class-home {
        grid-template-rows: 83% 0% !important;
    }
    .class-home > div:nth-child(2) strong ,
    .class-home > div:nth-child(2) strong font{
        font-size: 50pt !important;
        margin-top: 40px !important;
        margin-bottom: 40px;
    }
    .class-home > div:nth-child(2) button {
        margin-top: 15px !important;
    }
    .class-home > div:nth-child(2) strong ,
    .class-home > div:nth-child(2) strong font{
        display: contents !important;
    }
    .class-home > div:nth-child(2) h1,
    .class-home > div:nth-child(2) h2 {
        line-height: 0.9em !important;
    }
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2),
    .class-person-up, 
    .class-aperson-sit{
        bottom: -95px !important;
    }
    ul.class-menuSmartphone {
        background: linear-gradient(to top, #f29304f0 10%, #f2b705 90%) !important;
        top: 14vh !important;
        height: 80vh !important;
    }
    .class-menu ul li a {
        font-size: 15pt !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child {
        height: 44px !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 {
        line-height: 1 !important;
        font-size: 12pt !important;
        margin: 0;
    }
    .class-portfolio > div:nth-child(2) {
        width: 80% !important;
        grid-template-rows: 44px calc(100% - 70px) !important;
    }
    .class-menu {
        height: 15vh !important;
    }
    .class-home, .class-portfolio, .class-contact {
        height: 85vh !important;
    }
    .class-home > div:nth-child(3), 
    .class-portfolio > div:nth-child(3), 
    .class-contact > div:nth-child(3) {
        z-index: -1 !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p span{
        display: none;
    }
    .class-fixed-img-minime {
        width: 130px !important;
        height: 130px !important;
    }
    .class-Footer {
        width: 80% !important;
    }
    .class-Footer > div:nth-child(3) {
        display: grid !important;
        grid-template-columns: 35px 35px 35px !important;
    }
    .class-Footer ul li a {
        font-size: 12pt !important;
    }
    .class-contact > div:nth-child(2) {
        overflow-y: auto;
        width: 84vw;
        height: 80.8vh;
        padding-right: 8vw;
    }
    .class-animacion-0 {
        width: 313px !important;
        height: 100vh;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: -10vh !important;
        left: -15vw !important;
    }
    .class-aboutUs > div:nth-child(2) {
        grid-template-columns: 27% 73% !important;
        grid-gap: 0 !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        left: calc(50% - 60px) !important;
        width: 120px !important;
        height: 120px !important;
        top: 30px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 144px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 38pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        display: none;
    }
    .class-aboutUs > div:nth-child(3) > img:nth-child(3),
    .class-aboutUs > div:nth-child(3) > img:nth-child(2) {
        bottom: -95px !important;
    }
}
/*HTC - ONE X - Porttrait*/
@media only screen and (max-width:354px) and (max-height:629px){
    .class-home > div:nth-child(3), 
    .class-portfolio > div:nth-child(3), 
    .class-contact > div:nth-child(3) {
        z-index: -1;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(2) {
        top: -126px !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(3) {
        top: -256px !important;
    }
}
/*NEXUS 10 - Porttrait*/
@media only screen and (max-width:794px) and (max-height:689px){
    .class-person-up, 
    .class-aperson-sit{
        bottom: -135px !important;
    }
    .class-home > div:nth-child(3), 
    .class-portfolio > div:nth-child(3), 
    .class-contact > div:nth-child(3) {
        z-index: -1;
    }
    .class-Footer ul li a {
        font-size: 12pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        width: 170px !important;
        height: 170px !important;
        left: calc(50% - 85px) !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 210px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 40pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 11pt !important;
    }
    .class-animacion-0 {
        height: calc(100vh - (52.55px + 0vh)) !important;
        width: 383px !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: -4vh !important;
        left: -4vw !important;
    }
}
/*Surface Pro 3 - Porttrait*/
@media only screen and (max-width:954px) and (max-height:689px){
    .class-home > div:nth-child(3), 
    .class-portfolio > div:nth-child(3), 
    .class-contact > div:nth-child(3) {
        z-index: -1;
    }
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2),
    .class-person-up, 
    .class-aperson-sit {
        bottom: -20px !important;
    }
    .class-menu ul li a, 
    .class-Footer ul li a{
        font-size: 14pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        width: 280px !important;
        height: 280px !important;
        left: calc(50% - 140px) !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 323px !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        left: -5vw !important;
    }
    .class-aboutUs > div:nth-child(3) > img:nth-child(2),
    .class-aboutUs > div:nth-child(3) > img:nth-child(3) {
        bottom: 20px !important;
    }
}
/*iPad - Porttrait*/
@media only screen and (max-width:768px) and (max-height:1024px){
    .class-home > div:nth-child(3), 
    .class-portfolio > div:nth-child(3), 
    .class-contact > div:nth-child(3) {
        z-index: -1;
    }
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2),
    .class-person-up, 
    .class-aperson-sit {
        bottom: -135px !important;
    }
    .class-Footer ul li a {
        font-size: 12pt !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 {
        font-size: 16pt !important;
        margin: 0 !important;
        margin-top: 10px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        width: 280px !important;
        height: 280px !important;
        left: calc(50% - 140px) !important;
        top: 40px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 320px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 50pt !important;
    }
}
/*iPhone 6/7/8 iOS 11*/ 
@media only screen and (max-width: 375px) and (max-height: 667px) {
    .class-home > div:first-child, 
    .class-portfolio > div:first-child, 
    .class-contact > div:first-child {
        bottom: 15vh !important;
    }
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2),
    .class-person-up, 
    .class-aperson-sit {
        bottom: -100px !important;
    }
    .class-home > div:nth-child(2) h1 {
        font-size: 40pt !important;
    }
    .class-home > div:nth-child(2) strong ,
    .class-home > div:nth-child(2) strong font{
        font-size: 50pt !important;
        display: block;
        margin-top: 40px;
    }
    .class-portfolio > div:nth-child(2) {
        width: 100%;
        display: grid;
        grid-template-columns: 100% !important;
        grid-gap: 20px;
        grid-template-rows: 92px 45px auto !important;
        z-index: 9;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(2){
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) {
        height: auto !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img {
        width: 100% !important;
        position: relative !important;
        box-shadow: 2px 2px 20px 2px #2703a621;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(2) {
        left: 0 !important;
        top: -86px !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(3) {
        top: -186px !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child {
        display: grid;
        grid-area: auto !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p span {
        display: none;
    }
    .class-PortfolioDetails {
        display: block !important;
        width: calc(100% - 16vw);
        padding: 20px 8vw !important;
    }
    .class-GalleryScroll {
        width: calc(100% + 60px) !important;
        left: -30px !important;
        position: relative;
    }
    .class-MyPortfolioEvolution > div {
        grid-template-columns: 100% !important;
        width: 100% !important;
    }
    .class-MyPortfolioEvolution > div > div:nth-child(3n+0) {
        grid-row: 2 !important;
    }
    .class-Footer ul li a {
        font-size: 12pt !important;
    }
    .class-GalleryScroll {
        margin-bottom: 20px !important;
    }
    .class-GreenCard > div:nth-child(3), 
    .class-Unicef > div:nth-child(3) {
        display: grid;
        grid-template-columns: 100% !important;
    }
    .class-Footer {
        width: 100% !important;
    }
    .class-fixed-img-minime {
        position: fixed;
        right: -7px !important;
        bottom: -21px !important;
        width: 100px !important;
        height: 100px !important;
        z-index: 999;
    }
    .class-aboutUs > div:nth-child(2) {
        left: 0 !important;
        right: 0 !important;
        grid-template-columns: 100% !important;
        width: 100vw !important;
        overflow-y: auto;
        height: calc(100vh - (52.55px + 5vh)) !important;
        grid-template-rows: 100vh 100vh !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        left: calc(50% - 140px) !important;
        width: 280px !important;
        height: 280px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 330px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 50pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child,
    .class-aboutUs > div:nth-child(2) > div:nth-child(2) {
        border: none !important;
    }
    .class-aboutUs > div:nth-child(2) > div:last-child {
        height: fit-content !important;
        overflow-y: unset !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 15pt !important;
    }
    .class-animacion-0 {
        width: 93vw !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: 5vh !important;
        left: -2vw !important;
    }
    .class-aboutUs > div:nth-child(3) > img:nth-child(3),
    .class-aboutUs > div:nth-child(3) > img:nth-child(2) {
        z-index: -3 !important;
    }
    .class-contact > div:nth-child(2) > input:nth-child(4),
    .class-contact > div:nth-child(2) > h2, 
    .class-contact > div:nth-child(2) > textarea, 
    .class-contact > div:nth-child(2) > input:nth-child(5) {
        grid-column: 1 !important;
    }
    .class-contact > div:nth-child(2) {
        grid-template-rows: 20px 30px 55px 55px 55px 150px !important;
    }
    .class-Footer > div:first-child > strong ,
    .class-Footer > div:first-child > strong font{
        font-size: 30pt !important;
    }
}
/*iPhone 6/7/8 Plus iOS 11*/ 
@media only screen and (max-width: 414px) and (max-height: 736px),/*Pixel2 XL*/(max-width: 414px) and (max-height: 823px) {
    .class-MyPortfolioEvolution > div {
        grid-template-columns: 100% !important;
    }
    .class-GreenCard > div:nth-child(3) img:nth-child(2),
    .class-GreenCard > div:nth-child(3) img:nth-child(3), 
    .class-Unicef > div:nth-child(3) img:nth-child(2),
    .class-Unicef > div:nth-child(3) img:nth-child(3) {
        display: none;
    }
    .class-GreenCard > div:nth-child(3) > div:nth-child(2), 
    .class-Unicef > div:nth-child(3) > div:nth-child(2) {
        grid-row: 1;
    }
    .class-nextPage {
        height: 230px !important;
        grid-template-columns: calc(100% - 16vw) !important;
    }
    .class-nextPage > div:nth-child(4) {
        opacity: 0.5;
    }
    .class-nextPage > div:nth-child(2) {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .class-nextPage button{
        width: 100% !important;
    }
    .class-PortfolioDetails {
        padding-top: 0 !important;
    }
    .class-home > div:first-child, 
    .class-portfolio > div:first-child, 
    .class-contact > div:first-child {
        bottom: 15vh !important;
    }
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2),
    .class-person-up, 
    .class-aperson-sit {
        bottom: -100px !important;
    }
    .class-home > div:nth-child(2) h1 {
        font-size: 40pt !important;
    }
    .class-home > div:nth-child(2) strong ,
    .class-home > div:nth-child(2) strong font{
        font-size: 50pt !important;
        display: block;
        margin-top: 40px;
    }
    .class-portfolio > div:nth-child(2) {
        width: 100%;
        display: grid;
        grid-template-columns: 100% !important;
        grid-gap: 20px;
        grid-template-rows: 92px 45px auto !important;
        z-index: 9;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(2){
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) {
        height: auto !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img {
        width: 100% !important;
        position: relative !important;
        box-shadow: 2px 2px 20px 2px #2703a621;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(2) {
        left: 0 !important;
        top: -176px !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(3) {
        top: -350px !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child {
        display: grid;
        grid-area: auto !important;
        grid-template-rows: 50px auto;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p span {
        display: none;
    }
    .class-PortfolioDetails {
        display: block !important;
        width: calc(100% - 16vw);
        padding: 20px 8vw !important;
    }
    .class-GalleryScroll {
        width: calc(100% + 60px) !important;
        left: -30px !important;
        position: relative;
    }
    .class-MyPortfolioEvolution > div {
        grid-template-columns: 100% !important;
        width: 100% !important;
    }
    .class-MyPortfolioEvolution > div > div:nth-child(3n+0) {
        grid-row: 2 !important;
    }
    .class-Footer ul li a {
        font-size: 12pt !important;
    }
    .class-GalleryScroll {
        margin-bottom: 20px !important;
    }
    .class-GreenCard > div:nth-child(3), 
    .class-Unicef > div:nth-child(3) {
        display: grid;
        grid-template-columns: 100% !important;
    }
    .class-Footer {
        width: 100% !important;
    }
    .class-fixed-img-minime {
        position: fixed;
        right: -7px !important;
        bottom: -21px !important;
        width: 100px !important;
        height: 100px !important;
        z-index: 999;
    }
    .class-aboutUs > div:nth-child(2) {
        left: 0 !important;
        right: 0 !important;
        grid-template-columns: 100% !important;
        width: 100vw !important;
        overflow-y: auto;
        height: calc(100vh - (52.55px + 5vh)) !important;
        grid-template-rows: 100vh 100vh !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        left: calc(50% - 140px) !important;
        width: 280px !important;
        height: 280px !important;
        top: 40px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 330px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong 
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 50pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child,
    .class-aboutUs > div:nth-child(2) > div:nth-child(2) {
        border: none !important;
    }
    .class-aboutUs > div:nth-child(2) > div:last-child {
        height: fit-content !important;
        overflow-y: unset !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 15pt !important;
    }
    .class-animacion-0 {
        width: 93vw !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: 5vh !important;
        left: -2vw !important;
    }
    .class-aboutUs > div:nth-child(3) > img:nth-child(3),
    .class-aboutUs > div:nth-child(3) > img:nth-child(2) {
        z-index: -3 !important;
    }
    .class-contact > div:nth-child(2) > input:nth-child(4),
    .class-contact > div:nth-child(2) > h2, 
    .class-contact > div:nth-child(2) > textarea, 
    .class-contact > div:nth-child(2) > input:nth-child(5) {
        grid-column: 1 !important;
    }
    .class-contact > div:nth-child(2) {
        grid-template-rows: 20px 30px 55px 55px 55px 150px !important;
    }
    .class-Footer > div:first-child > strong 
    .class-Footer > div:first-child > strong font{
        font-size: 30pt !important;
    }
}
/*iPhone X/XS iOS 12*/ 
@media only screen and (max-width: 375px) and (max-height: 812px) {
    .class-home > div:first-child, 
    .class-portfolio > div:first-child, 
    .class-contact > div:first-child {
        bottom: 15vh !important;
    }
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2),
    .class-person-up, 
    .class-aperson-sit {
        bottom: -100px !important;
    }
    .class-home > div:nth-child(2) h1 {
        font-size: 40pt !important;
    }
    .class-home > div:nth-child(2) strong ,
    .class-home > div:nth-child(2) strong font{
        font-size: 50pt !important;
        display: block;
        margin-top: 40px;
    }
    .class-portfolio > div:nth-child(2) {
        width: 100%;
        display: grid;
        grid-template-columns: 100% !important;
        grid-gap: 20px;
        grid-template-rows: 92px 45px auto !important;
        z-index: 9;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(2){
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        padding-top: 0 !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) {
        height: auto !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img {
        width: 100% !important;
        position: relative !important;
        box-shadow: 2px 2px 20px 2px #2703a621;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(2) {
        left: 0 !important;
        top: -157px !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(3) {
        top: -313px !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child {
        display: grid;
        grid-area: auto !important;
        grid-template-rows: 50px auto;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p span {
        display: none;
    }
    .class-PortfolioDetails {
        display: block !important;
        width: calc(100% - 16vw);
        padding: 20px 8vw !important;
    }
    .class-GalleryScroll {
        width: calc(100% + 60px) !important;
        left: -30px !important;
        position: relative;
    }
    .class-MyPortfolioEvolution > div {
        grid-template-columns: 100% !important;
        width: 100% !important;
    }
    .class-MyPortfolioEvolution > div > div:nth-child(3n+0) {
        grid-row: 2 !important;
    }
    .class-Footer ul li a {
        font-size: 12pt !important;
    }
    .class-GalleryScroll {
        margin-bottom: 20px !important;
    }
    .class-GreenCard > div:nth-child(3), 
    .class-Unicef > div:nth-child(3) {
        display: grid;
        grid-template-columns: 100% !important;
    }
    .class-Footer {
        width: 100% !important;
    }
    .class-fixed-img-minime {
        position: fixed;
        right: -7px !important;
        bottom: -21px !important;
        width: 100px !important;
        height: 100px !important;
        z-index: 999;
    }
    .class-aboutUs > div:nth-child(2) {
        left: 0 !important;
        right: 0 !important;
        grid-template-columns: 100% !important;
        width: 100vw !important;
        overflow-y: auto;
        height: calc(100vh - (52.55px + 5vh)) !important;
        grid-template-rows: 100vh 100vh !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        left: calc(50% - 140px) !important;
        width: 280px !important;
        height: 280px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 330px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 50pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child,
    .class-aboutUs > div:nth-child(2) > div:nth-child(2) {
        border: none !important;
    }
    .class-aboutUs > div:nth-child(2) > div:last-child {
        height: fit-content !important;
        overflow-y: unset !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 15pt !important;
    }
    .class-animacion-0 {
        width: 93vw !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: 5vh !important;
        left: -2vw !important;
    }
    .class-aboutUs > div:nth-child(3) > img:nth-child(3),
    .class-aboutUs > div:nth-child(3) > img:nth-child(2) {
        z-index: -3 !important;
    }
    .class-contact > div:nth-child(2) > input:nth-child(4),
    .class-contact > div:nth-child(2) > h2, 
    .class-contact > div:nth-child(2) > textarea, 
    .class-contact > div:nth-child(2) > input:nth-child(5) {
        grid-column: 1 !important;
    }
    .class-contact > div:nth-child(2) {
        grid-template-rows: 20px 30px 55px 55px 55px 150px !important;
    }
    .class-Footer > div:first-child > strong ,
    .class-Footer > div:first-child > strong font{
        font-size: 30pt !important;
    }
}
/*iPhone 5/SE*/ 
@media only screen and (max-width: 320px) and (max-height: 568px){
    .class-home > div:nth-child(2) h2 {
        font-size: 12pt !important;
    }
    .class-home > div:nth-child(2) strong ,
    .class-home > div:nth-child(2) strong font{
        font-size: 40pt !important;
    }
    .class-home > div:nth-child(2) button {
        margin-top: 20px !important;
    }
    .class-home > div:nth-child(2) h1 {
        font-size: 30pt !important;
    }
    .class-contact > div:nth-child(2) {
        height: calc(100vh - 52px - 27vh - 20px);
        margin-top: 20px;
        width: calc(100vw - 16vw);
        padding-right: 8vw;
        overflow-y: auto;
    }
    ul.class-menuSmartphone {
        margin-top: 25px;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 {
        font-size: 14pt !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p > strong, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 > strong ,
    .class-portfolio > div:nth-child(2) > div:first-child p > strong font, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 > strong font{
        font-size: 25pt !important;
    }
    .class-Footer ul li a {
        font-size: 10pt !important;
    }
    .class-aboutUs > div:nth-child(2) {
        margin-top: 13px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child, 
    .class-aboutUs > div:nth-child(2) > div:nth-child(2) {
        border: none !important;
        padding: 0px 4vh !important;
    }
}
/*iPhone 6/7/8*/ 
@media only screen and (max-width: 375px) and (max-height: 667px){
    .class-aboutUs > div:nth-child(2) {
        margin-top: 5px;
    }
}
/*Surface Duo*/ 
@media only screen and (max-width: 540px) and (max-height: 720px){
    .class-aboutUs > div:nth-child(2) {
        left: 0 !important;
        right: 0 !important;
        grid-template-columns: 100% !important;
        width: 100vw !important;
        overflow-y: auto;
        height: calc(100vh - (52.55px + 5vh)) !important;
        grid-template-rows: 100vh 100vh !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        left: calc(50% - 140px) !important;
        top: 50px !important;
        width: 280px !important;
        height: 280px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 330px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 50pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child,
    .class-aboutUs > div:nth-child(2) > div:nth-child(2) {
        border: none !important;
    }
    .class-aboutUs > div:nth-child(2) > div:last-child {
        height: fit-content !important;
        overflow-y: unset !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 15pt !important;
    }
    .class-animacion-0 {
        width: 93vw !important;
        -webkit-box-reflect: unset !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: 5vh !important;
        left: -2vw !important;
    }
    .class-aboutUs > div:nth-child(3) > img:nth-child(3),
    .class-aboutUs > div:nth-child(3) > img:nth-child(2) {
        z-index: -3 !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child h2 {
        font-size: 13pt !important;
    }
    .class-aboutUs span {
        display: none;
    }
    .class-Footer {
        width: 100% !important;
    }
    .class-fixed-img-minime {
        width: 150px !important;
        height: 150px !important;
    }
}
/*Galaxy Fold*/ 
@media only screen and (max-width: 280px) and (max-height: 653px){
    p,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 12pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child, 
    .class-aboutUs > div:nth-child(2) > div:nth-child(2) {
        border: none !important;
        padding: 0px 2vh !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 40pt !important;
    }
    .class-portfolio > div:nth-child(3) {
        width: 100% !important;
        left: 0% !important;
    }
    .class-home > div:nth-child(2) h2 {
        font-size: 12pt !important;
    }
    .class-home > div:nth-child(2) strong ,
    .class-home > div:nth-child(2) strong font{
        font-size: 40pt !important;
    }
    .class-home > div:nth-child(2) button {
        margin-top: 20px !important;
    }
    .class-home > div:nth-child(2) h1 {
        font-size: 30pt !important;
    }
    .class-contact > div:nth-child(2) {
        height: calc(100vh - 52px - 27vh - 20px);
        margin-top: 20px;
        width: calc(100vw - 16vw);
        padding-right: 8vw;
        overflow-y: auto;
    }
    ul.class-menuSmartphone {
        margin-top: 25px;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 {
        font-size: 14pt !important;
    }
    .class-portfolio > div:nth-child(2) > div:first-child p > strong, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 > strong ,
    .class-portfolio > div:nth-child(2) > div:first-child p > strong font, 
    .class-portfolio > div:nth-child(2) > div:first-child h2 > strong font{
        font-size: 25pt !important;
    }
    .class-Footer ul li a {
        font-size: 10pt !important;
    }
    .class-aboutUs > div:nth-child(2) {
        margin-top: 13px !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(3) {
        top: -167px !important;
    }
    .class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(2) {
        top: -77px !important;
    }
    .class-Footer ul li a {
        font-size: 9pt !important;
    }
    .class-Footer > div:first-child {
        display: grid;
        grid-template-columns: 45px auto !important;
        align-items: center;
    }
}
/*Standar Size*/ 
@media only screen and (max-width: 1024px) and (max-height: 768px){
    .class-home > div:nth-child(3) > img:nth-child(2), 
    .class-portfolio > div:nth-child(3) > img:nth-child(2), 
    .class-contact > div:nth-child(3) > img:nth-child(2),
    .class-person-up, 
    .class-aperson-sit {
        bottom: -100px !important;
    }
    .class-home > div:nth-child(3), 
    .class-portfolio > div:nth-child(3), 
    .class-contact > div:nth-child(3) {
        z-index: -1;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child::after {
        left: calc(50% - 140px) !important;
        width: 280px !important;
        height: 280px !important;
    }
    .class-aboutUs > div:nth-child(3) > div:first-child {
        top: 0vh !important;
        left: -4vw !important;
        height: calc(100vh - (52.55px + 0vh)) !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div {
        top: 320px !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong ,
    .class-aboutUs > div:nth-child(2) > div:first-child > div > strong font{
        font-size: 50pt !important;
    }
    .class-aboutUs > div:nth-child(2) > div:first-child > div > p {
        font-size: 14pt !important;
    }
}