@import './variable.scss';
@import './animate.scss';
@import './animation.scss';
@import './responsive.scss';
@import './safari.scss';
@import './microsoftEdge.scss';

/*Inicio*/
*{
    font-family: 'Roboto';
    color: $color-pupple;
    scrollbar-color: $color-white $color-pupple;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

::placeholder {
    color: $color-pupple;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $color-pupple;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: $color-pupple;
  }

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $color-pupple;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color-yellow;
}

body {
    background: $gradient-yellow;
    overflow: hidden;
    height: 100vh;
}

.class-menu {
    display: grid;
    grid-template-columns: 42vw 42vw;
    padding: 4vh 8vw 0vh;
    height: 8vh;
    z-index: 9999;
}

.class-menu img{
    height: 50px;
    width: auto;
}

.class-menu ul,
.class-Footer ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    width: 100%;
}

.class-menu ul li,
.class-Footer ul li {
    list-style: none;
}

.class-menu ul li a,
.class-Footer ul li a{
    text-decoration: none;
}

.class-home > div:first-child,
.class-portfolio > div:first-child,
.class-contact > div:first-child{
    position: fixed;
    background: $color-yellow;
    top: 0;
    bottom: 50vh;
    left: 0;
    right: 0;
    z-index: -3;
}

.class-aboutUs > div:first-child {
    background: $gradient-invert;
    top: 50vh;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -3;
}

.class-home,
.class-portfolio,
.class-contact {
    height: 88vh;
    display: grid;
    grid-template-columns: 42vw 42vw;
    padding: 0 8vw;
}

.class-home > div:nth-child(3),
.class-portfolio > div:nth-child(3),
.class-contact > div:nth-child(3){
    position: relative;
    height: 100%;
}

.class-home > div:nth-child(3) > img:first-child,
.class-contact > div:nth-child(3) > img:first-child{
    position: absolute;
    z-index: 9;
    left: 250px;
    bottom: 40px;
    max-width: 330px;
    width: 60%;
    -webkit-box-reflect: $reflect-4;
}

.class-home > div:nth-child(3) > img:nth-child(2),
.class-portfolio > div:nth-child(3) > img:nth-child(2),
.class-contact > div:nth-child(3) > img:nth-child(2){
    position: absolute;
    right: 130px;
    width: 170px;
    bottom: 243px;
    -webkit-box-reflect: below -45px linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.4) 100%);
    z-index: -2;
}

.class-home > div:nth-child(3) > img:nth-child(3){
    position: absolute;
    bottom: 150px;
    width: 30%;
    max-width: 150px;
    right: 0px;
    -webkit-box-reflect: $reflect-5;
}

.class-home > div:nth-child(2) strong {
    font-family: Signatria;
    font-size: 70pt;
    color: $color-pupple;
    font-weight: lighter;
}

.class-home > div:nth-child(2) h1 {
    font-size: 50pt;
    line-height: 0.5em;
    -webkit-box-reflect: $reflect-6;
}

.class-home > div:nth-child(2) h2{
    line-height: 0;
}

button {
    width: 200px;
    height: 50px;
    margin: 20px 0;
    background: transparent;
    border: 2px solid $color-pupple;
    font-weight: bolder;
    font-size: 12pt;
}

.class-home > div:nth-child(2) button{
    margin-top: 100px;
}

.active{
    font-weight: bold;
}

.class-menu ul li:first-child,
.class-Footer ul li:first-child {
    display: none;
}

.class-aperson-sit{
    -webkit-box-reflect: below -53px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-position: 275px !important;
}

.class-person-up{
    -webkit-box-reflect: below -39px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-position: 0 !important;
}

.class-person-up,
.class-aperson-sit{
    height: 200px;
    width: 285.3px;
    background: $image_animation_5;
    position: absolute;
    bottom: 230px;
    right: 0;
    z-index: -1;
}

.class-portfolio > div:nth-child(2){
    width: 100%;
    display: grid;
    grid-template-columns: 50px calc(100% - 70px);
    grid-gap: 20px;
    grid-template-rows: 70px auto;
}

.class-portfolio > div:nth-child(2) > div:first-child{
    display: grid;
    grid-area: 1 / span 3;
}

.class-button-dropdown{
    width: 25px;
    height: 25px;
    background: $color-pupple;
    border-radius: 1000px;
    margin: 12.2px 0;
}

.class-portfolio > div:nth-child(2) > div:first-child p,
.class-portfolio > div:nth-child(2) > div:first-child h2{
    line-height: 0;
}

.class-portfolio > div:nth-child(2) > div:nth-child(2) > div.active{
    background: $color-white !important;
}

.class-portfolio > div:nth-child(2) > div:nth-child(3){
    position: relative;
    height: 60vh;
}

.class-portfolio > div:nth-child(2) > div:nth-child(3) > img{
    width: 70%;
    position: absolute;
    box-shadow: $shadow-effect;
}

.class-portfolio > div:nth-child(2) > div:nth-child(3) > img:first-child{
    top: 0;
    left: 0;
}

.class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(2){
    left: 10%;
    top: 20%;
}

.class-portfolio > div:nth-child(2) > div:nth-child(3) > img:nth-child(3){
    bottom: 0;
    right: 0;
}

.class-PortfolioDetails {
    background: $color-orange;
    position: fixed;
    top: 23vh;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px 8vw;
    box-shadow: $shadow-inner;
    overflow-x: hidden;
}

.class-flex-button-portfolio-detail{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    height: 50px !important;
}

.class-flex-button-portfolio-detail button{
    margin: 10px 0 !important;
}

.class-MyPortfolioEvolution > div {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
}

.class-MyPortfolioEvolution > div > h2 {
    display: grid;
    grid-column: 1 / span 2;
    margin: 0 !important;
}

.class-GalleryScroll{
    display: flex !important;
    width: 103%;
    overflow-x: auto;
}

.class-nextPage {
    position: relative;
    background: $color-yellow;
    align-items: center;
    margin-bottom: 20px;
    grid-template-columns: calc(60% - 10px) calc(40% - 10px) !important;
    margin-left: -8vw;
    margin-right: -8vw;
    display: grid;
    grid-gap: 20px;
    margin-top: 100px;
}

.class-nextPage > div:first-child{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 50%;
}

.class-nextPage > div:first-child img{
    width: auto;
    height: 200px;
    top: 50px;
    position: relative;
}

.class-Footer {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-gap: 8px !important;
    grid-template-columns: 100% !important;
}

.class-Footer > div:first-child {
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 10px;
}

.class-Footer > div:first-child > img{
    width: 100%;
}

.class-Footer > div:first-child > strong {
    font-family: Signatria;
    font-size: 40pt;
    color: #2703a6;
    font-weight: lighter;
}
.class-portfolio > div:nth-child(2) > div:first-child p > strong , 
.class-portfolio > div:nth-child(2) > div:first-child h2 > strong {
    font-family: Signatria;
    font-size: 30pt;
    color: #2703a6;
    font-weight: lighter;
}

.class-Footer ul {
    justify-content:flex-start !important;
}

.class-Footer > div:nth-child(3){
    grid-gap: 10px;
    display: grid !important;
    grid-template-columns: 44px 44px 44px;
}

hr {
    width: 100%;
    border: 1px solid #2703a6;
}

.class-Footer p {
    margin: 0;
}

.class-GreenCard > div:nth-child(2),
.class-Unicef > div:nth-child(2){
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}

.class-GreenCard > div:nth-child(2) > div,
.class-Unicef > div:nth-child(2) > div{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 20px;
}

.class-GreenCard > div:nth-child(2) img,
.class-Unicef > div:nth-child(2) img {
    width: 104%;
}

.class-GreenCard .class-GalleryScroll,
.class-Unicef .class-GalleryScroll{
    margin-bottom: 30px;
    width: 100%;
}

.class-aboutUs > div:nth-child(3) {
    position: absolute;
    left: 8vw;
    right: 8vw;
    top: calc(52.55px + 4vh);
    bottom: 4vh;
}

.class-aboutUs > div:nth-child(3) > div:first-child{
    position: absolute;
    bottom: 225px;
    left: 5.3vw;
    z-index: -2;
}

.class-aboutUs > div:nth-child(3) > img:nth-child(2){
    position: absolute;
    right: 130px;
    width: 170px;
    bottom: 220px;
    -webkit-box-reflect: below -45px linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.4) 100%);
    z-index: -2;
}

.class-aboutUs > div:nth-child(3) > img:nth-child(3){
    position: absolute;
    right: 53px;
    width: 70px;
    bottom: 225px;
    -webkit-box-reflect: below -30px linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.4) 100%);
    z-index: -2;
}

.class-aboutUs > div:nth-child(2){
    position: relative;
    left: 8vw;
    right: 8vw;
    bottom: 4vh;
    top: 0;
    width: 84vw;
    height: calc(100vh - (52.55px + 10vh));
    display: grid;
    grid-template-columns: calc(22% - 10px) calc(78% - 10px);
    grid-gap: 20px;
    z-index: 9;
}

.class-aboutUs > div:nth-child(2) > div:last-child {
    background: #f2f0d5cf;
    padding: 10px;
    border: 2px solid #f39405;
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
    height: 100%;
    overflow-y: auto;
}

.class-aboutUs > div:nth-child(2) > div:first-child{
    padding: 10px;
    border: 2px solid #f39405;
    position: relative;
    width: initial;
    height: inherit;
    border-radius: 0%;
    overflow: hidden;
    height: 100%;
}

.class-aboutUs > div:nth-child(2) > div:first-child::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 30px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    box-shadow: 0px 0px 0px 2000px #f2f0d5cf;
    z-index: -1;
}

.class-aboutUs > div:nth-child(2) > div:first-child > div {
    position: relative;
    top: 230px;
    text-align: center;
}

.class-aboutUs > div:nth-child(2) > div:first-child > div > strong {
    font-family: Signatria;
    font-size: 35pt;
    color: #2703a6;
    font-weight: lighter;
}

.class-aboutUs > div:nth-child(2) > div:first-child > div > p {
    margin-top: 0;
}

.class-aboutUs > div:nth-child(2) > div:last-child > div:nth-child(2) > div:last-child {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 44px 44px 44px;
}

.class-experienceDetail {
    display: grid;
    grid-template-columns: 15px calc(100% - 25px);
    grid-gap: 10px;
}

.class-experienceDetail > div:first-child{
    width: 15px;
    height: 15px;
    background: #2703a6;
    border-radius: 1000px;
    margin: 12.2px 0;
}

.class-experienceDetail h4,
.class-experienceDetail b,
.class-experienceDetail p{
    margin: 0;
    align-self: center;
    display: grid;
    grid-column: 2;
}

.class-aboutUs > div:nth-child(2) > div:last-child > div{
    padding-bottom: 20px;
}

input,
textarea {
    width: auto;
    height: 50px;
    margin: 0;
    background: transparent;
    border: 1px solid #2703a6;
    font-weight: bolder;
    font-size: 12pt;
    color: #2703a6;
    border-bottom: 3px solid #2703a6;
    border-radius: 10px 10px 0 0;
}

input{
    padding: 0 20px;
}

textarea {
    padding: 20px;
    height: 70%;
}

.class-contact > div:nth-child(2){
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    grid-template-rows: 20px 30px 55px 55px 150px 55px;
}

.class-contact > div:nth-child(2) > p,
.class-contact > div:nth-child(2) > h2,
.class-contact > div:nth-child(2) button{
    margin: 0 !important;
}

.class-contact > div:nth-child(2) > h2,
.class-contact > div:nth-child(2) > textarea,
.class-contact > div:nth-child(2) > input:nth-child(5){
    grid-column: 1 / span 2;
}

.class-contact > div:nth-child(2) > input:nth-child(4){
    grid-column: 2;
}

.class-fixed-img-minime {
    position: fixed;
    right: -14px;
    bottom: -42px;
    border-radius: 1000px;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.class-fixed-img-minime img {
    width: 100%;
}