@import './variable.scss';
@import './animate.scss';
@import './animation.scss';

/*Inicio*/
*{
    font-family: 'Roboto';
    color: $color-pupple;
}
body {
    background: $gradient-yellow;
    overflow: hidden;
}

.class-menu {
    display: grid;
    grid-template-columns: 42vw 42vw;
    padding: 4vh 8vw 0vh;
    height: 8vh;
    z-index: 9999;
}

.class-menu img{
    height: 50px;
    width: auto;
}

.class-menu ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    width: 100%;
}

.class-menu ul li {
    list-style: none;
}

.class-menu ul li a {
    text-decoration: none;
}

.class-home > div:first-child,
.class-portfolio > div:first-child{
    position: fixed;
    background: $color-yellow;
    top: 0;
    bottom: 50vh;
    left: 0;
    right: 0;
    z-index: -3;
}

.class-home,
.class-portfolio {
    height: 88vh;
    display: grid;
    grid-template-columns: 42vw 42vw;
    padding: 0 8vw;
}

.class-home > div:nth-child(3),
.class-portfolio > div:nth-child(3){
    position: relative;
    height: 100%;
}

.class-home > div:nth-child(3) > img:first-child{
    position: absolute;
    z-index: 9;
    left: 250px;
    bottom: 40px;
    max-width: 330px;
    width: 60%;
    -webkit-box-reflect: $reflect-4;
}

.class-home > div:nth-child(3) > img:nth-child(2),
.class-portfolio > div:nth-child(3) > img:nth-child(2){
    position: absolute;
    left: 0;
    max-width: 500px;
    width: 80%;
    bottom: 70px;
    -webkit-box-reflect: $reflect-5;
    z-index: -2;
}

.class-home > div:nth-child(3) > img:nth-child(3){
    position: absolute;
    bottom: 150px;
    width: 30%;
    max-width: 150px;
    right: 0px;
    -webkit-box-reflect: $reflect-5;
}

.class-home > div:nth-child(2) strong {
    font-family: Signatria;
    font-size: 70pt;
    color: $color-pupple;
    font-weight: lighter;
}

.class-home > div:nth-child(2) h1 {
    font-size: 50pt;
    line-height: 0.5em;
    -webkit-box-reflect: $reflect-6;
}

.class-home > div:nth-child(2) h2{
    line-height: 0;
}

button {
    width: 200px;
    height: 50px;
    margin: 20px 0;
    background: transparent;
    border: 2px solid $color-pupple;
    font-weight: bolder;
    font-size: 12pt;
}

.class-home > div:nth-child(2) button{
    margin-top: 100px;
}

.active{
    font-weight: bold;
}

.class-menu ul li:first-child{
    display: none;
}

.class-aperson-sit{
    -webkit-box-reflect: below -123px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-position: 955px !important;
}

.class-person-up{
    -webkit-box-reflect: below -123px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-position: 0 !important;
}

.class-person-up,
.class-aperson-sit{
    height: 647px;
    width: 932px;
    background: $image_animation_5;
    position: absolute;
    bottom: 0px;
    right: -150px;
    z-index: -1;
}

.class-portfolio > div:nth-child(2){
    width: 100%;
    display: grid;
    grid-template-columns: 50px calc(100% - 70px);
    grid-gap: 20px;
    grid-template-rows: 50px auto;
}

.class-portfolio > div:nth-child(2) > div:first-child{
    display: grid;
    grid-area: 1 / span 3;
}

.class-portfolio > div:nth-child(2) > div:nth-child(2) > div{
    width: 25px;
    height: 25px;
    background: #2703a6;
    border-radius: 1000px;
    margin: 12.2px 0;
}

.class-portfolio > div:nth-child(2) > div:first-child p,
.class-portfolio > div:nth-child(2) > div:first-child h2{
    line-height: 0;
}