@import './animate.scss';
@import './variable.scss';

.class-animacion-0{
    height: 647px;
    width: 377.6px;
    background: $image_animation_0;
}

.class-animacion-1{
    height: 647px;
    width: 377.6px;
    background: $image_animation_1;
}