/*image*/
$image_animation_0 : url("../image/animacion-frame-02.png");
$image_animation_1 : url("../image/animacion-frame_1.png");
$image_animation_2 : url("../image/animacion-frame-03.png");
$image_animation_4 : url("../image/animacion-frame_04.png");
$image_animation_5 : url("../image/animacion-frame-05.png");
$image_animation_7 : url("../image/animacion-frame-07.png");
$image_animation_8 : url("../image/animacion-frame-08.png");
$image_animation_9 : url("../image/animacion-frame-09.png");

$image_animation_b1 : url("../image/animacion-1.svg");

$BIG_image_animation_0 : url("../image/BIG_animacion-frame-02.png");

/*reflect*/
$reflect : below -144px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
$reflect-2 :below -157px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
$reflect-3 :below -133px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));

$reflect-4: below -125px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
$reflect-5: below -76px linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.4) 100%);
$reflect-6: below 380px linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

/*color*/
$color-yellow : #f2b705;
$color-lightPupple : #7300df;
$color-pupple : #2703a6;
$color-DarkPupple : #140059;
$color-white: #F2F0D5;
$color-orange: #F29305;

/*gradient*/
$gradient-yellow : linear-gradient(to bottom, #f29304 50%, #fbca01 100%);
$gradient-invert : linear-gradient(to bottom, #f27d04 50%, #fbca01 100%);

/*shadow*/
$shadow-effect :2px 2px 20px 2px #2703a621;
$shadow-inner: 0px 20px 50px 1px #892ba617 inset;

/*font*/
@font-face {
    font-family: 'Signatria';
    src: local('Signatria'), url(../fonts/Signatria.ttf) format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../fonts/Roboto-Light.ttf) format('woff');
}